.form {
  height: auto;
  grid-size: 2;
  margin-top: 1;
  margin-bottom: 1;
  grid-columns: 1fr auto;
  grid-gutter: 1;
}

RadioSet {
  layout: horizontal;
}

VerticalScroll {
  background: $boost;
}

ResultCard {
  background: $boost;
  padding: 3;
  margin: 1;
}
